
/* reset */
button,
fieldset,
input {
  all: unset;
}

.CardsContent {
    flex-grow: 1;
    padding: 20px;
    background-color: #d9dcd6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
  }
  
  .CardsContent:hover {
    box-shadow: 0 0 0 2px black;
  }

  .Text {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--mauve-11);
    font-size: 15px;
    line-height: 1.5;
  }
  
  .Fieldset {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .Label {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--violet-12);
    display: block;
  }

  .Input {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    color: black;
    box-shadow: 0 0 0 1px #16425b;
    height: 35px;
  }
  .Input:focus {
    box-shadow: 0 0 0 2px #16425b;
  }